  <div class="banner">
    <%= render "layouts/header" %>
    <div class="banner-slider">
      <div class="container">
        <div class="slider">
          <div class="callbacks_container">
            <ul class="rslides" id="slider4">
              <li>
                <div class="banner-info">
                  <h3>Lorem ipsum dolor sit amet</h3>
                  <p>Donec tellus metus, ornare et mollis ut, maximus id nisi. Quisque scelerisque accumsan sem nec ullamcorper. Cras sed purus eget augue egestas commodo. Sed erat magna, pharetra aliquet mattis mollis, maximus eget lacus. </p>
                  <a href="menu.html">Menu</a>
                </div>
              </li>
              <li>
                <div class="banner-info">
                  <h3>Fusce egestas purus in nulla</h3>
                  <p>Sed erat magna, pharetra aliquet mattis mollis, maximus eget lacus. Donec tellus metus, ornare et mollis ut, maximus id nisi. Quisque scelerisque accumsan sem nec ullamcorper. Cras sed purus eget augue egestas commodo. </p>
                  <a href="menu.html">Menu</a>
                </div>
              </li>
              <li>
                <div class="banner-info">
                  <h3>Duis faucibus dolor risus</h3>
                  <p>Quisque scelerisque accumsan sem nec ullamcorper. Donec tellus metus, ornare et mollis ut, maximus id nisi. Cras sed purus eget augue egestas commodo. Sed erat magna, pharetra aliquet mattis mollis, maximus eget lacus. </p>
                  <a href="menu.html">Menu</a>
                </div>
              </li>
              <li>
                <div class="banner-info">
                  <h3>Lorem ipsum dolor sit amet</h3>
                  <p>Donec tellus metus, ornare et mollis ut, maximus id nisi. Quisque scelerisque accumsan sem nec ullamcorper. Cras sed purus eget augue egestas commodo. Sed erat magna, pharetra aliquet mattis mollis, maximus eget lacus. </p>
                  <a href="menu.html">Menu</a>
                </div>
              </li>
              <li>
                <div class="banner-info">
                  <h3>Fusce egestas purus in nulla</h3>
                  <p>Sed erat magna, pharetra aliquet mattis mollis, maximus eget lacus. Donec tellus metus, ornare et mollis ut, maximus id nisi. Quisque scelerisque accumsan sem nec ullamcorper. Cras sed purus eget augue egestas commodo. </p>
                  <a href="menu.html">Menu</a>
                </div>
              </li>
            </ul>
          </div>

          <%= javascript_include_tag "responsiveslides.min", "data-turbolinks-track" => true %>
          <script>
            // You can also use "$(window).load(function() {"
            $(function () {
              // Slideshow 4
              $("#slider4").responsiveSlides({
              auto: true,
              pager:true,
              nav:false,
              speed: 500,
              namespace: "callbacks",
              before: function () {
                $('.events').append("<li>before event fired.</li>");
              },
              after: function () {
                $('.events').append("<li>after event fired.</li>");
              }
              });

            });
           </script>
          <!--banner Slider starts Here-->
        </div>
      </div>
    </div>
  </div>
  <!-- //banner -->
