<div class="services">
  <div class="container">
    <div class="services-info">
      <h3> <%= t("layouts.public._our_services.our") %> </h3>
      <p> <%= t("layouts.public._our_services.pell") %> </p>
    </div>
  </div>
  <div class="services-grids">
    <div id="owl-demo" class="owl-carousel owl-theme">
      <%
        @products.each do |product|
          if product.image?
      %>
        <div class="item">
          <div class="services-grid-info">
            <%= image_tag product.image.url if product.image? %>
            <div class="services-grid-caption">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      <%
          end
        end
      %>
    </div>
  </div>
</div>
