<%= render "layouts/header" %>
  <div class="blog">
    <div class="container">
      <div class="agile-blog-grids">
        <div class="col-md-6 agile-blog-grid-left">
          <div class="agile-blog-grid">
            <div class="agile-blog-grid-left-img">
              <%= link_to image_tag("e2.jpg", alt: "Rails logo"), "single.html"%>
            </div>
            <div class="opinion">
              <h3>Leave Your Comment</h3>
              <form action="#" method="post">
                <input type="text" name="Name" placeholder="Name" required="">
                <input type="text" name="Email" placeholder="Email" required="">
                <textarea name="Message" placeholder="Message" required=""></textarea>
                <input type="submit" value="SEND">
              </form>
            </div>
          </div>
        </div>
        <div class="blog-left-grids col-md-6">
          <div class="blog-left-right">
            <div class="blog-left-right-top">
              <h4>Integer et turpis augue. In hac habitasse platea dictumst.</h4>
              <p>Posted By <a href="#">Admin</a> &nbsp;&nbsp; on June 2, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
            </div>
            <div class="blog-left-right-bottom">
              <p>Vivamus fermentum vel lacus ac ornare. Vestibulum pulvinar massa pharetra risus pharetra, eu blandit risus viverra. Aenean in ultrices enim, ut tincidunt libero. Phasellus libero enim, semper ac felis eget, efficitur ultrices orci. Aenean tincidunt lacus lorem, non varius enim luctus sed. Quisque eu aliquet quam, et sollicitudin nibh. Duis finibus at felis eu laoreet. Nulla non lacus sem.
              <span>Curabitur vel elementum tortor, gravida tempor magna. Nullam sit amet lectus at mi dapibus tempus fermentum quis ipsum. Pellentesque rutrum tellus nec dolor suscipit, et bibendum ligula consequat. </span></p>
              <button type="button" class="btn btn-outline-danger col-md-offset-3 col-md-6">Add to cart</button>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
    </div>
  </div>
 </div>


