  <div class="agileits-copyright">
    <div class="container">
      <p> <%= t ("layouts.public._footer.footer") %> </p>

    </div>
  </div>
<%= javascript_include_tag "owl.carousel.js", "data-turbolinks-track" => true %>
